@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    background-color: #F0F4FA;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 grey;
    /* overflow: hidden; */
}


section.image{
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: grey;
    /* increase the padding */
    padding: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

h1{
    /* increase the font size */
    font-size: 16px;
    color: rgb(100, 100, 100);
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.content{
    /* Increase font size */
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    padding: 7px;
    margin-bottom: 10px;
}

.bottom_part{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.author{
    display: flex;
    flex-wrap: wrap;
    /* change width */
    width: 75%;
    flex-direction: column;
}

.bottom_part img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.author_name{
    /* Increase font size */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
}

.date{
    /* Increase font size*/
    font-size: 11px;
    padding-top: 3px;
}

.share{
    cursor: pointer;
    position: relative;
}

.social_icons{
    display: none;
    flex-wrap: nowrap;
    padding: 20px 144px 20px 30px;
    border-radius: 10px;
    background-color: #06023f;
    align-items: center;
    gap: 10px;
    color:  rgb(110, 110, 110);
    font-size: 11px;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
    top: -3px;
    right: -41.5px;
    /* transform: translateX(45%); */
}

.social_icons a{
    display: flex;
    gap: 18px;
    flex-wrap: nowrap;
}

footer{
    position: fixed;
    height: relative;
    bottom: 5px;
}
