@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    background-color: #F0F4FA;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px 0 grey;
    /* overflow: hidden; */
}

.container section{
    width: 100%;
}

.container section:last-child{
    width: 70%;
}

.container section:first-child{
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-position: center;
    width: 55%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: grey;
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

h1{
    font-size: 15px;
    color: rgb(100, 100, 100);
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.content{
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    padding: 7px;
    margin-bottom: 10px;
}

.bottom_part{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.author{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    flex-direction: column;
}

.bottom_part img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.author_name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.date{
    font-size: 10px;
}

.share{
    cursor: pointer;
    position: relative;
}

.social_icons{
    display: none;
    flex-wrap: nowrap;
    padding: 10px;
    border-radius: 5px;
    background-color: #06023f;
    align-items: center;
    gap: 10px;
    color:  rgb(110, 110, 110);
    font-size: 11px;
    position: absolute;
    top: -60px;
    z-index: 2;
    transform: translateX(-50%);
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #06023f;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

}

.social_icons a{
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

footer{
    position: fixed;
    height: relative;
    bottom: 5px;
}
